<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/wwwroot/css/*.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Beauty Store</title>
</head>
<body>
    <nav class="navbar navbar-inverse bg-info justify-content-between">
        <a class="navbar-brand text-white" href="#">BEAUTY STORE</a>
        <div class="float-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>